NODE_ENV=development
PORT=3000
CORS=true
SWAGGER=true
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
DATABASE_TYPE=in-memory #in-memory | postgres
DATABASE_URL=postgresql://user:password@host:5432/dbname
STORAGE_TYPE=in-memory #in-memory | local
STORAGE_PATH=storage # Only needed if STORAGE_TYPE is set to local, indicates the directory where files will be stored
