<mat-sidenav-container class="shell-container">
  <mat-sidenav mode="side" opened class="shell-sidenav">
    <div class="sidenav-header">
      <img src="/logo_02.svg" alt="Gestiora" class="sidenav-logo" />
      <span class="sidenav-title">Gestiora</span>
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a
        mat-list-item
        routerLink="/providers"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matListItemIcon>business</mat-icon>
        <span matListItemTitle>Proveedores</span>
      </a>
    </mat-nav-list>

    <div class="sidenav-footer">
      <button
        mat-stroked-button
        class="logout-btn"
        [disabled]="isLoggingOut()"
        [attr.aria-busy]="isLoggingOut()"
        (click)="onLogout()"
      >
        @if (isLoggingOut()) {
          <mat-progress-spinner diameter="18" mode="indeterminate" />
        } @else {
          <ng-container>
            <mat-icon>logout</mat-icon>
            Cerrar sesión
          </ng-container>
        }
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
